.acquisitions-mode-toggle {
  display: flex;
  padding-left: 1rem;
  pointer-events: auto;
}

.acquisitions-btn,
.save-map-btn {
  border: 0;
  background-color: var(--button-color);
  color: var(--secondary-color);
  box-shadow: none;
  padding: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.save-map-btn {
  margin-left: 0.3rem;
}

.chevron-btn {
  position: absolute;
  left: 49vw;
  bottom: 1vh;
  background-color: var(--secondary-color);
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.25rem solid var(--button-color);
  border-radius: 50%;
  text-align: center;
  pointer-events: auto;
  cursor: pointer;
}

.chevron-btn::after {
  border-width: 0.25rem 0.25rem 0 0;
  border-style: solid;
  border-color: var(--button-color);
  content: '';
  display: inline-block;
  height: 0.45rem;
  position: relative;
  top: 0.15rem;
  transform: rotate(-45deg);
  vertical-align: middle;
  width: 0.45rem;
}

.menu {
  position: relative;
  left: 3rem;
  /* max-height: 12vh; */
  display: flex;
  width: 100vw;
  padding: 0.5rem;
  background-color: #fff;
}
